DOCTYPE
html
    head
        meta(charset="utf-8")
        title= ((viewport && viewport.title) || "Simple Express")
        link(rel="manifest" href="/static/favicon_io/site.webmanifest")
        link(rel="icon" href="/static/favicon_io/favicon.ico" type="image/x-icon")
    body
        main: block main
