extends viewport-main

block main
    .container(ng-app="app" ng-controller="welcome-controller")
        h1.my-5 You are welcome!
        p {{message}}

block append scripts
    script
        | const app = angular.module('app', [])
        | app.controller('welcome-controller', ['$scope', function($scope) {
        |   $scope.message = "Hello World!";
        | }]);